---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Skynet17 Media Dashboard</h1>
      <div class="dashboard">
        <a class="btn" href="https://radarr.skynet17.com" target="_blank">
          <img src="/icons/radarr.png" alt="Radarr" />Radarr
        </a>
        <a class="btn" href="https://sonarr.skynet17.com" target="_blank">
          <img src="/icons/sonarr.png" alt="Sonarr" />Sonarr
        </a>
        <a class="btn" href="https://plex.skynet17.com" target="_blank">
          <img src="/icons/plex.png" alt="Plex" />Plex
        </a>
        <a class="btn" href="https://tautulli.skynet17.com" target="_blank">
          <img src="/icons/tautulli.png" alt="Tautulli" />Tautulli
        </a>
      </div>
    </main>
    <Footer />
  </body>
</html>
